In [9]:
import pandas as pd

In [10]:
!pwd

/Users/spam/Documents/UTD/PHD/ALPS/Spring_25/NeSY_Late_Deadline/Check_Datasets_cars/Original_Data/cars

In [11]:
path = 'cars.csv'

In [12]:
df = pd.read_csv(path)

In [13]:
df = df.drop('id', axis=1)
df

     buying  maint         doors persons lugboot safety     label
0     vhigh  vhigh             2       2   small    low  negative
1     vhigh  vhigh             2       2   small    med  negative
2     vhigh  vhigh             2       2   small   high  negative
3     vhigh  vhigh             2       2     med    low  negative
4     vhigh  vhigh             2       2     med    med  negative
...     ...    ...           ...     ...     ...    ...       ...
1723    low    low  morethanfive    more     med    med  positive
1724    low    low  morethanfive    more     med   high  positive
1725    low    low  morethanfive    more     big    low  negative
1726    low    low  morethanfive    more     big    med  positive
1727    low    low  morethanfive    more     big   high  positive

[1728 rows x 7 columns]

In [14]:
# Method 3: Using map
df.columns = list(map(lambda x: x[0].upper() + x[1:], df.columns))

df

     Buying  Maint         Doors Persons Lugboot Safety     Label
0     vhigh  vhigh             2       2   small    low  negative
1     vhigh  vhigh             2       2   small    med  negative
2     vhigh  vhigh             2       2   small   high  negative
3     vhigh  vhigh             2       2     med    low  negative
4     vhigh  vhigh             2       2     med    med  negative
...     ...    ...           ...     ...     ...    ...       ...
1723    low    low  morethanfive    more     med    med  positive
1724    low    low  morethanfive    more     med   high  positive
1725    low    low  morethanfive    more     big    low  negative
1726    low    low  morethanfive    more     big    med  positive
1727    low    low  morethanfive    more     big   high  positive

[1728 rows x 7 columns]

In [15]:
# Split data

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test = train_test_split(df, test_size=0.2, random_state=42)

In [18]:
X_train

     Buying  Maint         Doors Persons Lugboot Safety     Label
107   vhigh  vhigh  morethanfive    more     big   high  negative
901     med  vhigh             3       4   small    med  negative
1709    low    low  morethanfive       2     big   high  negative
706    high    med             4       2     med    med  negative
678    high    med             3       2     med    low  negative
...     ...    ...           ...     ...     ...    ...       ...
1130    med    med             3    more     med   high  positive
1294    med    low  morethanfive    more     big    med  positive
860    high    low  morethanfive    more     med   high  positive
1459    low   high             4       2   small    med  negative
1126    med    med             3    more   small    med  positive

[1382 rows x 7 columns]

In [19]:
X_test

     Buying  Maint         Doors Persons Lugboot Safety     Label
599    high   high             4       2     med   high  negative
1201    med    low             2       4     med    med  positive
628    high   high  morethanfive       2     big    med  negative
1498    low   high  morethanfive       4     med    med  positive
1263    med    low             4    more     med    low  negative
...     ...    ...           ...     ...     ...    ...       ...
100   vhigh  vhigh  morethanfive    more   small    med  negative
274   vhigh    med             4       2     med    med  negative
1206    med    low             2    more   small    low  negative
101   vhigh  vhigh  morethanfive    more   small   high  negative
1084    med    med             2       2     med    med  negative

[346 rows x 7 columns]

In [20]:
X_train.to_csv('train_fold_1.csv', index = False)
X_test.to_csv('test_fold_1.csv', index = False)